.conterner{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: lightgray;
}
.menu{
  flex: 5%;
  background-color: darkgray;
}
.content{
  flex: 70%;
  background-color: white;
}
.footer{
  flex:10%;
  background-color: lightgray;
}
.HeadLine {
  color: red;
  front-weight: bold;
  front-size: 25pt;
}
.Sub {
  color: black;
  front-style: normal;
  front-size: 14pt;
}
.SubLine {
  color: purple;
  front-style: normal;
  front-size: 25pt;
}
