.HeadLine {
  color: red;
  front-weight: bold;
  front-size: 25pt;
}
.Sub {
  color: black;
  front-style: normal;
  front-size: 14pt;
}
.SubLine {
  color: purple;
  front-style: normal;
  front-size: 25pt;
}
