.header{
  flex: 15%;
  background: url("images/banner.png");
  aspect-ratio: 6 / 1;
}
.nav {
  flex: 50%;
  background-color: darkgray;
  padding: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px ;
}

.nav a:hover {
  background-color: gold;
  color: red;
  text-decoration: none;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  opacity: 0.8;
}

.footer {
  flex:10%;
  background-color: gold;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100px;
}
.content{
  flex: 70%;
  background-color: white;
}
.content iframe{
  flex:1;
  border: none;
  width: 100%;
  height: 100%;
}


.HeadLine {
  color: red;
  front-weight: bold;
  front-size: 25pt;
}
.Sub {
  color: black;
  front-style: normal;
  front-size: 14pt;
}
.SubLine {
  color: purple;
  front-style: normal;
  front-size: 25pt;
}
.border {
  display: flex;
  flex-direction: column;
  height: 100px;
}
